logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
.DS_Store
node_modules
dist
scratch.js
coverage
apple-private-key.p8
.vscode/settings.json
tsdocs
.env